@*@page "/fetchdata"
@using BlazorApp.Shared 
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (whenThen == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>When</h2>
    @foreach (var when in whenThen.When)
    {
        <p>@when</p>
    }

    <h2>Then</h2>
    @foreach (var then in whenThen.Then)
    {
        <p>@then</p>
    }
}

@code {
    private WhenThen whenThen;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            whenThen = await Http.GetFromJsonAsync<WhenThen>("/api/WhenThen");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}*@
