@page "/game"

<h1>Game</h1>
@if (whenThen == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>When</h2>
    @foreach (var when in whenThen.When)
    {
        <p>
            @when
        </p>
    }
    <h2>Then</h2>
    @foreach (var then in whenThen.Then)
    {
        <p>
            @then
        </p>
    }
}

@code
{
    private WhenThen whenThen;

    protected override async Task OnInitializedAsync()
    {
        whenThen = await GetWhenThen();
    }

    public class WhenThen
    {
        public string[] When { get; set; }
        public string[] Then { get; set; }

        public WhenThen(string[] when, string[] then)
        {
            When = when;
            Then = then;
        }
    }

    public async Task<WhenThen> GetWhenThen()
    {
        try
        {
            var whenCsvs = await File.ReadAllLinesAsync("./wwwroot/when.csv");
            var whens = whenCsvs.Select(x => x.Split(',')[1]).ToArray();

            var thenCsvs = await File.ReadAllLinesAsync("./wwwroot/then.csv");
            var thens = thenCsvs.Select(x => x.Split(',')[1]).ToArray();

            return new WhenThen(whens, thens);
        }
        catch (Exception e)
        {
            return new WhenThen(Array.Empty<string>(), Array.Empty<string>());
        }
    }

}
